<body class="top">
  <div class="wrap">
  
    <div class="introduces">
      <h2 class="introduce-title">さあ、始めよう！</h2>
      <img src="/images/join.png" class="top-image join-image">
    </div>
  
    <div class="signup-user">
      <h2 class="signup-title">新規登録</h2>

      <%= form_with(model: @user, url: user_registration_path, method: :post, class: 'registration-main', local: true) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <div class="signup-user-form-contents">
          <div class="field-in">
            <p>お名前</p>
            <%= f.text_field :name, autofocus: true, placeholder:"10文字以内", autocomplete: "name", class: :signup_user_form_content %>
          </div>

          <div class="field-in">
            <p>登録用メールアドレス</p>
            <%= f.email_field :email, autofocus: true, placeholder:"PC・携帯どちらでも可", autocomplete: "email", class: :signup_user_form_content %>
          </div>

          <div class="field-in">
            <p>パスワード</p>
            <%= f.password_field :password, placeholder:"小文字英数字混合でご入力ください", autocomplete: "new-password", class: :signup_user_form_content %>
          </div>

          <div class="field-in">
            <p>確認用パスワード</p>
            <%= f.password_field :password_confirmation, placeholder:"確認用", autocomplete: "new-password", class: :signup_user_form_content %>
          </div>
        </div>
        <div class="actions">
          <%= f.submit "新規登録", class: "form__btn" %>
        </div>
        
        <%if @sns_id.present? %>
            <%= hidden_field_tag :sns_auth, true %>
          <% else %>
            <div class="field">
              <%= f.label :password %>
              <% @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
              <br />
              <%= f.password_field :password, autocomplete: "new-password" %>
            </div>

            <div class="field">
              <%= f.label :password_confirmation %><br />
              <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
            </div>
          <% end %>
      <% end %>
    </div>
    <div class="signup-or-login">
      <%= link_to "ログインはこちら", new_user_session_path, class:"to-login" %>
    </div>
  </div>
</body>
