<body class="top">
  <div class="sign-header" id="root">
    <%=javascript_pack_tag 'index'%>
  </div>
  <div class="wrap">
  
    <div class="introduces">
      <h2 class="introduce-title">さあ、始めよう！</h2>
      <img src="/images/join.png" class="top-image join-image">
    </div>
  
    <div class="signup-user">
      <h2 class="signup-title">新規登録</h2>

      <%= form_with(model: @user, url: user_registration_path, method: :post, class: 'registration-main', local: true) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <div class="signup-user-form-contents">
          <div class="field-in">
            <label for="user_name">お名前</label>
            <%= f.text_field :name, autofocus: true, placeholder:"10文字以内", autocomplete: "name", class: :signup_user_form_content %>
          </div>

          <div class="field-in">
            <label for="user_email">登録用メールアドレス</label>
            <%= f.email_field :email, autofocus: true, placeholder:"PC・携帯どちらでも可", autocomplete: "email", class: :signup_user_form_content %>
          </div>
          
          <%if @sns_id.present? %>
            <%= hidden_field_tag :sns_auth, true %>
          <% else %>
          <div class="field-in">
            <label for="user_password">パスワード</label>
            <%= f.password_field :password, placeholder:"小文字英数字混合でご入力ください", autocomplete: "new-password", class: :signup_user_form_content %>
          </div>
          <div class="field-in">
            <label for="user_password_confirmation">確認用パスワード</label>
            <%= f.password_field :password_confirmation, placeholder:"確認用", autocomplete: "new-password", class: :signup_user_form_content %>
          </div>
          <% end %>

        </div>
        <div class="actions">
          <%= f.submit "新規登録", class: "form__btn" %>
        </div>
      <% end %>
    </div>
  </div>
</body>
