<%= render 'shared/header' %>
<div class="wrap">
  <p class="user-posts"><%= @user.name %>さんの投稿一覧</p>
  <ul class="contents">
  <% @posts.each do |post| %>
    <li class="content darkmode-ignore" id="post_<%= post.id %>">
      <%= render "posts/post",post: post %>
    </li>
  <% end %>
  </ul>
  <div class="page-count">
    <%= paginate @posts %>
  </div>

  <p class="user-posts"><%= @user.name %>さんのBook Like一覧</p>
  <ul class="contents">
    <% @likes.each do |like| %>
      <% post = Post.find_by(id: like.post_id) %>
      <li class="content darkmode-ignore" id="post_<%= post.id %>">
        <%= render "posts/post", post: post %>
      </li>
    <% end %>
  </ul>

</div>
<script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.7/lib/darkmode-js.min.js"></script>