<nav class="navbar navbar-expand-lg navbar-light header">
  <%= link_to image_tag('logo.png' , size: '150x100', class:'header_logo_image'), "/" %>
  <button id="button" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
          <div class="user_nav grid-6">
            <%= link_to "投稿する", new_post_path, class:"btn post" %>
            <%= link_to "マイページ", user_path(current_user.id),method: :get, class:"btn mypage" %>
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class:"btn logout" %>
          </div>
      </div>
    </ul>
  </div>
</nav>
<% if flash[:notice] %>
<div class="flash">
  <%= flash[:notice] %>
</div>
<% end %>