<body class="top2">
  <div class="wrap">
    
    
    <div class="introduces">
      <div class="logo-top-login">
      <%= link_to(image_tag('logo.png',width:"300px",class:"introduce-logo"),root_path) %>
      </div>

      <div class="introduce">
        <img src="/images/book-login.png" class="top-image book-image">
        <p class="introduce-text book-text"> 書籍の要約と感想、学んだことのアクションプランを他のユーザーとシェアしよう。</p>
      </div>
      

      <div class="introduce">
        <img src="/images/comment-login.png" class="top-image comment-image">
        <p class="introduce-text book-text">コメント機能でユーザーとコミュニケーション。</p>
      </div>

      <div class="introduce">
        <img src="/images/like-login.png" class="top-image like-image">
        <p class="introduce-text book-text">「Book Like!」機能でお気に入りの投稿をチェック。</p>
      </div>

    </div>

    <div class="signup-user">
      <h2 class="login-title">ログイン</h2>

      <%= form_with(model: @user, url: user_session_path ,method: :post, class: 'registration-main', local: true) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field-in">
          <label for="user_email">メールアドレス</label>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: :signup_user_form_content %>
        </div>

        <div class="field-in">
          <label for="user_password">パスワード</label>
          <%= f.password_field :password, autocomplete: "current-password", class: :signup_user_form_content %>
        </div>

        <div class="actions">
          <%= f.submit "ログイン",class: "form__btn" %>
        </div>
        
        <%# <h2 class="sns-title">SNSアカウントをご利用ですか？</h2>
        <div class="sns-btn">
          <div>
            <%= link_to content_tag(:i, '', class:"fab fa-facebook-square"), user_facebook_omniauth_authorize_path, method: :post, class: "form__btn__sns__f" %>
          <%# </div>
          <div>
            <%= link_to content_tag(:i, '', class:"fab fa-google"), user_google_oauth2_omniauth_authorize_path, method: :post, class: "form__btn__sns__g"%>
          <%# </div>
        </div>  %>

      </div>
    <% end %>
    <div class="signup-or-login">
      <%= link_to "アカウントはお持ちですか？", new_user_registration_path, class:"to-signin" %>
    </div>
  </div>
</body>


