<%= form_with(model: @post, local: true) do |f|%>
<%= render 'shared/error_messages', model: f.object %>
  <div class="field">
    <label for="title-text" class="form-title">本のタイトル</label>
    <%= f.text_field :book_name, class: :form__text__title, id:"title-text" %>
    <span class="string-length" id="char_num_t"></span><span class="string-length">/50文字</span>
  </div>

  <div class="field category-book">
    <label for="exampleFormControlSelect1" class="form-title">本のカテゴリー</label>
    <%= f.collection_select(:category_id, Category.all , :id, :name, {}, {class:"form-control", id:"exampleFormControlSelect1"}) %>
  </div>

  <div class="field">
    <label for="wrap-text" class="form-title">本の要約</label>
    <%= f.text_area :wrap_up, class: :form__text, id:"wrap-text" %>
    <span class="string-length" id="char_num_w"></span><span class="string-length">/1000文字</span>
  </div>

  <div class="field">
    <label for="impressions-text" class="form-title">感想文</label>
    <%= f.text_area :impressions, class: :form__text, id:"impressions-text" %>
    <span class="string-length" id="char_num_i"></span><span class="string-length">/1000文字</span>
  </div>

  <div class="field">
    <label for="action-text" class="form-title">アクションプラン</label>
    <%= f.text_area :action_plan, class: :form__text, id:"action-text" %>
    <span class="string-length" id="char_num_a"></span><span class="string-length">/1000文字</span>
  </div>

  <div class="field">
    <label for="post_image" class="form-title">本の表紙</label></br>
    <%= f.file_field :image %>
  </div>

  <div class="actions new-form-btn">
    <%= f.submit "保存する", class: :form__btn  %>
  </div>
<% end %>
