
<%= image_tag(post.image,size: '180x250') %>

<div class="book-name">
  <%= link_to post.book_name, post_path(post.id), method: :get %>
</div>

<div class="category-name">
  <%= post.category.name %>
</div>

<div class="user-name">
  <%= image_tag('man.png',size: '20x20') %>
  <%= link_to post.user.name, user_path(post.user.id),method: :get  %>
  <%= image_tag('woman.png',size: '20x20') %>
</div>

<div class="more-btn">
  <%= link_to "More", post_path(post.id),method: :get %>
</div>

<% if user_signed_in? %>
  <div class="like-form">
    <% if current_user.liked_by?(post.id) %>
      <td><%= link_to image_tag('open-book.svg',size: '50x50'), destroy_like_path(post), method: :DELETE, remote: true %></td>
      <div><%= post.likes.count %>Likes</div>
      <div>Book Like!</div>
    <% else %>
      <td><%= link_to image_tag('book.svg',size: '50x50'), create_like_path(post), method: :POST,remote: true %></td>
      <div><%= post.likes.count %>Likes</div>
      <div>Close!</div>
    <% end %>
  </div>
<% end %>
