<ul class="contents">
  <% @posts.each do |post| %>
    <li class="content" id="post_<%= post.id %>">
      <%= link_to image_tag(post.image,size: '180x250'), post_path(post.id),method: :get %>
      <div class="book-name">
      <%= post.book_name %>
      </div>
      <div class="category-name">
      <%= post.category.name %>
      </div>
      <div class="user-name">
      <%= post.user.name %>
      </div>
      <div id="like-btn-<%= post.id %>">
      </div>
      <% if current_user.liked_by?(post.id) %>
        <td><%= link_to 'いいね外す', destroy_like_path(post), method: :DELETE %> <%= post.likes.count %></td>
      <% else %>
        <td><%= link_to 'いいねする', create_like_path(post), method: :POST %> <%= post.likes.count %></td>
      <% end %>
    </li>
  <% end %>
</ul>