<div class="wrap">
  <ul>
    <li><%= link_to "編集",edit_post_path(@post.id),method: :get  %></li>
    <li><%= link_to "削除","#" %></li>
  </ul>
  <div>
    <%= @post.book_name %>
  </div>
  <div>
    <%= @post.user.name %>
  </div>
  <div>
    <%= @post.category.name %>
  </div>
  <div>
    <%= @post.wrap_up %>
  </div>
  <div>
    <%= @post.impressions %>
  </div>
  <div>
    <%= image_tag(@post.image) %>
  </div>
  <div>
    <%= @post.action_plan %>
  </div>
</div>