<%= render 'shared/header' %>
<div class="wrap">

  <% if user_signed_in? && @post.user.id == current_user.id %>
    <ul class="edit-destroy">
      <li class="btn-e edit darkmode-ignore"><%= link_to "編集",edit_post_path(@post.id),method: :get  %></li>
      <li class="btn-d destroy darkmode-ignore"><%= link_to "削除",post_path(@post.id),method: :delete %></li>
    </ul>
  <% end %>

  <div class="show-content" id="show-content" post-id=<%= @post.id %>>

    <div class="show-book-name darkmode-ignore">
      <%= @post.book_name %>
    </div>

    <div class="show-book-image darkmode-ignore">
      <%= image_tag(@post.image,size: '400x600',class: "book-image") %>
    </div>

    <div class="post-user-name sub">
      <%= link_to @post.user.name, user_path(@post.user.id), method: :get %>
    </div>

    <div class="post-category sub">
      <%= @post.category.name %>
    </div>

    <div class="post-like-counter sub">
    <% if @post.likes.count == 0 %>
      <%= image_tag('book.png',size: '30x30') %>No Like!
    <% else %>
      <%= image_tag('open-book.png',size: '30x30') %><%= @post.likes.count %><span class="count-like">Book Likes!</span>
    <% end %>
    </div>

    
    <div class="text show-wrap darkmode-ignore">
      <h1 class="text-title">要約文</h1>
      <%= safe_join(@post.wrap_up.split("\n"),tag(:br)) %>
    </div>

    <div class="text show-impressions darkmode-ignore">
      <h1 class="text-title">感想・思ったこと</h1>
      <%= safe_join(@post.impressions.split("\n"),tag(:br)) %>
    </div>

    <div class="text show-actionplan darkmode-ignore">
      <h1 class="text-title">アクションプラン</h1>
      <%= safe_join(@post.action_plan.split("\n"),tag(:br)) %>
    </div>

    <% if current_user %>
      <%= form_with(model: [@post,@comment],url: post_comments_path(@post.id),local: true, id: "form") do |f|%>
        <div class="field">
          <%= f.label :text, "コメント投稿" %><span class="limit-text">※100文字まで！</span><br />
          <%= f.text_area :text, id:"comment", class: :form__text %>
        </div>
        <div class="actions">
          <div class="comment-btn darkmode-ignore">
          <%= f.submit "コメントする", id: "submit", class: :comment__btn  %>
          </div>
        </div>
      <% end %>
    <% end %>

    <ul id='comments' class="comments_lists">
      <% if @comments %>
      <div id="list"></div>
        <% @comments.each do |comment| %>
          <li class="comments_list" id=<%= comment.id %>>
            <span class="comment-user-name">
              <%= image_tag('man.png',size: '20x20') %>
              <%= link_to(comment.user.name, user_path(comment.user.id)) %>
              <%= image_tag('woman.png',size: '20x20') %>
            </span>
            <div class="comment-text darkmode-ignore">
              <%= comment.text %>
            </div>
          </li>
        <% end %>
      <% end %>
    </ul>


  </div>

</div>
<script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.7/lib/darkmode-js.min.js"></script>