<div class="wrap">
  <div>
    <%= @post.book_name %>
  </div>
  <div>
    <%= @post.user.name %>
  </div>
  <div>
    <%= @post.category.name %>
  </div>
  <div>
    <%= @post.wrap_up %>
  </div>
  <div>
    <%= @post.impressions %>
  </div>
  <div>
    <%= image_tag(@post.image) %>
  </div>
  <div>
    <%= @post.action_plan %>
  </div>
</div>